* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 5px;
    padding: 5px;
}

.header {
    background: linear-gradient(45deg, red, blue);
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
}

.section1 {
    flex-direction: column;
    width: 25%;
    margin: 5px;
}

.citySearch {
    margin: 5px;
    padding: 5px; 
    display: flex;
    flex-direction: column; 
}

.search-bar {
    padding: 10px;
    margin-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#btn {
    background-color: cornflowerblue;
    color: cornsilk;
    padding: 5px;
    border-radius: 5px;
}

#btn:hover {
    background-color: blue;
}
.history {
    border-top: grey 2px solid;
    height: 400px;
    margin: 5px;
    flex-direction: column;
}

.section2 {
    flex-direction: column;
    margin-left: 30px;
    width: 70%;
    margin: 5px;

}

.displayBox {
    border: solid 2px black;
    padding-left: 10px;
    height: 320px;
    padding-left: 80px;
}

.displayBox h2 {
    padding: 5px;
}

span {
    padding: 0;
    font-size: 24px;
}

ul { 
    margin-top: 50px;
}

li {
    list-style: none;
    margin: 15px;
}

.box {
    display: inline-block;
    background: darkblue;
    color: white;
    margin: 20px;
    padding: 2px;
    width: 175px;
    height: 180px;
}